---
import Template from "../template.astro";
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }

  @media (min-width: 1280px) {
    p {
      font-size: 0.8rem;
    }
  }
</style>

<Template
  id="work-otomadb-api"
  title="Otomadb API"
  href="https://github.com/otomad-database/api"
  keywords={[
    "TypeScript",
    "Node.js",
    "GraphQL",
    "GraphQL Yoga",
    "Prisma",
    "PostgreSQL",
    "Neo4j",
    "Nix",
  ]}
>
  <p>
    <a href="#project-otomadb">Otomadb</a>のバックエンド． GraphQL
    APIとしてやり取りする．
  </p>
</Template>
