---
import Template from "../template.astro";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }

  @media (min-width: 1280px) {
    p {
      font-size: 0.8rem;
    }
  }
</style>

<Template
  id={id}
  title="Otomadb API"
  href="https://github.com/otomad-database/api"
  keywords={[
    "TypeScript",
    "Node.js",
    "GraphQL",
    "GraphQL Yoga",
    "Prisma",
    "PostgreSQL",
    "Neo4j",
    "Nix",
  ]}
>
  <p>
    <a href="http://otomadb.com/">Otomadb</a>のバックエンド． GraphQL
    APIとしてやり取りする．
  </p>
</Template>
