# Nix
.direnv
result

# VSCode
.vscode/*

# Dependencies
node_modules/

yarn.lock
pnpm-lock.ymal

# Log
*.log

# Environment
.env.*.local

# ESLint
.eslintcache

# Parcel
.cache/
.parcel-cache/

# build output
dist/
_site/

