---
import Template from "../template.astro";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }

  @media (min-width: 1280px) {
    p {
      font-size: 0.8rem;
    }
  }
</style>

<Template
  id={id}
  title="SnO2WMaN/infrastructure"
  href="https://github.com/SnO2WMaN/infrastructure"
  keywords={["Nix", "NixOS", "Kubernetes", "ArgoCD"]}
>
  <p>自宅で実際に運用しているサーバやk8sクラスタ等の構成ファイル．</p>
</Template>
