---
import Template from "../template.astro";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }

  @media (min-width: 1280px) {
    p {
      font-size: 0.8rem;
    }
  }
</style>

<Template
  id={id}
  title="corepack.nix"
  href="https://github.com/SnO2WMaN/corepack-flake"
  keywords={["Node.js", "Nix"]}
>
  <p>
    Node.jsのパッケージマネージャ管理ツールであるCorepackをNixでも使うためのユーティリティ．
  </p>
</Template>
