---
import Template from "../template.astro";
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }

  @media (min-width: 1280px) {
    p {
      font-size: 0.8rem;
    }
  }
</style>

<Template
  id="work-satyxin"
  title="satyxin"
  href="https://github.com/SnO2WMaN/satyxin"
  keywords={["Nix", "SATySFi"]}
>
  <p>SATySFIのパッケージ解決などをNixで行うための諸々．</p>
</Template>
