---
import clsx from "clsx";

import NormalLayout from "~/layouts/NormalLayout.astro";
import Quote from "~/components/Quote/Quote.svelte";
---

<style lang="scss">
  header {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: auto;
    & > h1 {
      font-size: 2rem;
      font-family: "Silkscreen", sans-serif;
      margin-block-end: 1rem;
    }
  }
</style>

<NormalLayout title="404" description="Page not found.">
  <header>
    <h1 class={clsx()}>404, page not found.</h1>
    <Quote />
  </header>
</NormalLayout>
