---
import NormalLayout from "~/layouts/NormalLayout.astro";

import AboutMe from "~/components/Aboutme/Aboutme.svelte";
import Quote from "~/components/Quote/Quote.svelte";

import WorkOtomadbAPI from "~/components/Works/otomadb-api/article.astro";
import WorkOtomadbWeb from "~/components/Works/otomadb-web/article.astro";
import WorkSnO2WMaNNet from "~/components/Works/sno2wman-net/article.astro";
import WorkSnO2WMaNInfrastructure from "~/components/Works/sno2wman-infrastructure/article.astro";
import WorkOtomadbK8sManifests from "~/components/Works/otomadb-k8s-manifests/article.astro";
import WorkRustPropLogic from "~/components/Works/rust-proplogic-toylang/article.astro";
import WorkDeno2nix from "~/components/Works/deno2nix/article.astro";
import WorkCorepackNix from "~/components/Works/corepack-nix/article.astro";
import WorkSatyxin from "~/components/Works/satyxin/article.astro";
import WorkAllYourNicovideosInScrapbox from "~/components/Works/all-your-nicovideos-in-scrapbox/article.astro";
---

<style lang="scss">
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    max-width: 1280px;
    margin: auto;
    & > h1 {
      font-size: 2.5rem;
      font-family: "Silkscreen", sans-serif;
      text-align: center;
    }
    & > .quote {
      margin-block-start: 0.5rem;
    }
  }

  section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 0;
    & > hgroup {
      display: flex;
      flex-direction: column;
      border-inline-start: 0.5rem solid var(--weak-text-color);
      padding-inline-start: 0.5rem;
      padding-block: 0.25rem;
      margin-block-end: 0.75rem;
      & > h2 {
        font-size: 1.25rem;
        font-weight: 700;
      }
      & > p {
        font-size: 0.75rem;
        font-style: italic;
        color: var(--weak-text-color);
      }
    }
  }

  #works {
    container-type: inline-size;
    & > .list {
      display: grid;
      column-gap: 0.5rem;
      row-gap: 0.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  #contacts {
    & > dl {
      display: flex;
      flex-direction: column;
      & > dt {
        font-size: 0.9rem;
        &:not(:first-of-type) {
          margin-top: 0.75rem;
        }
        & > span {
          font-weight: 700;
          font-family: "Rubik", sans-serif;
          color: var(--text-color);
        }
        & > a {
          margin-inline-start: 0.25rem;
          font-family: monospace;
          color: var(--weak-text-color);
        }
      }
      & > dd {
        padding-inline-start: 0.5rem;
        font-size: 0.8rem;
      }
    }
  }

  @media (min-width: 700px) {
    #works > .list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 960px) {
    #works {
      & > .list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }

  @media (min-width: 1280px) {
    header {
      flex-direction: row;
      & > .quote {
        margin-block-start: 0.5rem;
        margin-inline-start: 1rem;
      }
    }
    section > hgroup {
      flex-direction: row;
      align-items: center;
      & > p {
        margin-inline-start: 0.5rem;
      }
    }

    #works > .list {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
</style>

<NormalLayout>
  <header>
    <h1>
      sno<sub>2</sub>wman.net
    </h1>
    <div class="quote">
      <Quote />
    </div>
  </header>

  <section id="aboutme">
    <hgroup>
      <h2>自己紹介</h2>
      <p>
        <a href="https://nico.ms/sm23507309?from=43">怪しい奴め お前は誰だ</a>
      </p>
    </hgroup>
    <AboutMe />
  </section>

  <section id="contacts">
    <hgroup>
      <h2>連絡先</h2>
      <p>
        <a href="https://www.youtube.com/watch?v=2vpw7Lebvj4&t=74s">
          It's the hotline, right?
        </a>
      </p>
    </hgroup>
    <dl>
      <dt>
        <span>Twitter</span>
        <a href="https://twitter.com/SnO2WMaN">@SnO2WMaN</a>
      </dt>
      <dd>コミュニケーションツール(1)．</dd>

      <dt>
        <span>Scrapbox</span>
        <a href="https://scrapbox.io/sno2wman">/sno2wman</a>
      </dt>
      <dd>私的なメモや日報など．</dd>

      <dt>
        <span>GitHub</span>
        <a href="https://github.com/SnO2WMaN">@SnO2WMaN</a>
      </dt>
      <dd>制作物(1)．</dd>

      <dt>
        <span>Email</span>
        <a href="mailto:me@sno2wman.net">me@sno2wman.net</a>
      </dt>
      <dd>重要な連絡．</dd>

      <dt>
        <span>Fedibird</span>
        <a href="https://fedibird.com/@SnO2WMaN" rel="me">@SnO2WMaN</a>
      </dt>
      <dd>コミュニケーションツール(2)．</dd>
    </dl>
  </section>

  <section id="projects">
    <hgroup>
      <h2>プロジェクト</h2>
      <p>
        <a href="http://gonzo.co.jp/archives/nhk/story.html"
          >プロジェクトにようこそ！</a
        >
      </p>
    </hgroup>
  </section>

  <section id="works">
    <hgroup>
      <h2>制作物</h2>
      <p>
        <a href="https://www.youtube.com/watch?v=qwJaQN1dbVk">
          つくりましょう つくりましょう さてさて何ができるかな
        </a>
      </p>
    </hgroup>
    <div class="list">
      <WorkSnO2WMaNNet id="work-sno2wman-net" />
      <WorkSnO2WMaNInfrastructure id="work-sno2wman-infrastructure" />
      <WorkOtomadbWeb id="work-otomadb-web" />
      <WorkOtomadbAPI id="work-otomadb-api" />
      <WorkOtomadbK8sManifests id="work-otomadb-k8s-manifest" />
      <WorkRustPropLogic id="work-rust-proplogic-toylang" />
      <WorkDeno2nix id="work-deno2nix" />
      <WorkCorepackNix id="work-corepack-nix" />
      <WorkSatyxin id="work-satyxin" />
      <WorkAllYourNicovideosInScrapbox
        id="work-all-your-nicovideos-in-scrapbox"
      />
    </div>
  </section>

  <section id="social">
    <hgroup>
      <h2>ソーシャル</h2>
      <p>
        <a href="https://www.mext.go.jp/a_menu/shotou/new-cs/1384661.htm">
          改訂により2022年度から高等学校の学習指導要領から『現代社会』は消滅しました．
        </a>
      </p>
    </hgroup>
  </section>
</NormalLayout>
