---
import Metalayout from "~/layouts/Metalayout.astro";
import { Image } from "astro:assets";

import IconLogic from "~/icons/logic.svg";
import IconFormalize from "~/icons/formalize.svg";
import IconWeb from "~/icons/web.svg";
import IconOtomad from "~/icons/otomad.svg";
import IconDj from "~/icons/dj.svg";

import SvgSiteQRCode from "~/images/qrcode.svg";

const imageModules = import.meta.glob<{ default: ImageMetadata }>(
  "~/images/index/*.{png,jpg}",
  { eager: true },
);
const sources = Object.values(imageModules).map((m) => m.default.src);
---

<Metalayout>
  <main class="w-full min-h-screen relative bg-charcoal-1">
    <canvas id="wallpaper" class="absolute inset-0 w-full h-full bg-transparent"
    ></canvas>

    <div
      class="nameplate relative lg:absolute m-auto inset-x-0 h-screen flex flex-col justify-center items-center lg:items-baseline w-full sm:w-[640px]"
    >
      <div
        class="name font-pixel text-[2rem] sm:text-[3rem] tracking-[0.5em] w-full text-center bg-charcoal-1/75"
      >
        <span class="text-chalk-1"
          >SnO<sub class="text-accent-1">2</sub>WMaN</span
        ><span class="text-chalk-2">.net</span>
      </div>
      <div
        class="flex flex-col sm:flex-row items-center sm:jutify-center mt-4 sm:w-full px-0 sm:px-0 space-y-4 sm:space-y-0 sm:space-x-6"
      >
        <SvgSiteQRCode
          class="w-[160px] h-[160px] flex-shrink-0 p-[16px] bg-charcoal-1/75"
        />
        <div
          class="flex-grow flex flex-col space-y-2 px-8 py-8 bg-charcoal-1/75"
        >
          <div class="sitelink">
            <span>Twitter</span>
            <a href="https://twitter.com/SnO2WMaN">@SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>GitHub</span>
            <a href="https://github.com/SnO2WMaN">@SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>Scrapbox</span>
            <a href="https://scrapbox.io/SnO2WMaN">/SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>Nicovideo</span>
            <a href="https://www.nicovideo.jp/user/118012640">118012640</a>
          </div>
          <div class="sitelink">
            <span>Mail</span>
            <a href="mailto:me@sno2wman.net">me@sno2wman.net</a>
          </div>
          <div class="sitelink">
            <span>
              <a href="https://gskr.ing">gsk.ring</a>
            </span>
            <a href="https://gskr.ing/u/sno2wman/pred">&lt;pred</a>
            :::
            <a href="https://gskr.ing/u/sno2wman/succ">succ&gt;</a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="relative lg:absolute lg:right-4 lg:bottom-4 w-full lg:w-[480px] p-8 lg:p-12 z-10 bg-charcoal-1/75"
    >
      <a
        href="/interest"
        class="block text-chalk-1 mb-4 text-2xl tracking-[0.125em]"
      >
        興味分野
      </a>
      <div class="flex flex-col space-y-4">
        <a href="/interest#logic" class="interest-block">
          <IconLogic />
          <div>
            <span>論理学</span>
            <span>Logic</span>
          </div>
        </a>
        <a href="/interest#formalize" class="interest-block">
          <IconFormalize />
          <div>
            <span>数学の形式化</span>
            <span>Formalized Mathematics</span>
          </div>
        </a>
        <a href="/interest#webdev" class="interest-block">
          <IconWeb />
          <div>
            <span>Web開発</span>
            <span>Web Development</span>
          </div>
        </a>
        <a href="/interest#otomad" class="interest-block">
          <IconOtomad />
          <div>
            <span>音MAD</span>
            <span>OTOMAD</span>
          </div>
        </a>
        <a href="/interest#dj" class="interest-block">
          <IconDj />
          <div>
            <span>DJ</span>
            <span>DJ</span>
          </div>
        </a>
      </div>
    </div>
  </main>
</Metalayout>

<script is:inline define:vars={{ sources: sources }}>
  const $canvas = document.getElementById("wallpaper");

  const resizeCanvas = () => {
    console.log("?");
    $canvas.width = $canvas.offsetWidth;
    $canvas.height = $canvas.offsetHeight;
  };
  window.addEventListener("resize", resizeCanvas);
  resizeCanvas();

  const ctx = $canvas.getContext("2d");
  const availableImages = [];

  function step() {
    if (Math.random() < 0.5) {
      const r = Math.random() * 0.5 + 0.9;
      const W = $canvas.width * r;
      const H = $canvas.height * r;
      const X = ($canvas.width + W) * Math.random() - W / 2;
      const Y = ($canvas.height + H) * Math.random() - H / 2;
      ctx.clearRect(X, Y, W, H);
    } else if (availableImages.length > 0) {
      for (let i = 0; i < Math.floor(Math.random() ** 2 * 15) + 2; i++) {
        const img =
          availableImages[Math.floor(Math.random() * availableImages.length)];
        const imgW = img.naturalWidth * (0.05 + Math.random() ** 0.75 * 3);
        const imgH = img.naturalHeight * (0.05 + Math.random() ** 0.75 * 3);
        const imgX = ($canvas.width + imgW) * Math.random() - imgW / 2;
        const imgY = ($canvas.height + imgH) * Math.random() - imgH / 2;

        ctx.filter = Math.random() < 0.1 ? "invert(100%)" : "none";
        ctx.drawImage(img, imgX, imgY, imgW, imgH);
        ctx.filter = "none";
      }
    }
    requestAnimationFrame(step);
  }

  requestAnimationFrame(step);

  for (const src of sources) {
    const img = new Image();
    img.src = src;
    img.onload = () => {
      availableImages.push(img);
    };
  }
</script>

<style>
  @reference "~/styles/global.css";

  .sitelink {
    font-size: 0.8rem;
    @apply flex text-chalk-1;
    & > span {
      flex-grow: 1;
      display: inline-flex;
      flex-shrink: 0;
      text-align: right;
      letter-spacing: 0.05em;
      &::after {
        content: "";
        width: 100%;
        height: 50%;
        flex-grow: 1;
        @apply border-b border-dashed border-charcoal-2;
        margin: 0 0.5em;
        padding: 0 1em;
      }
    }
    & > a {
      @apply font-mono underline text-right;
    }
  }

  .interest-block {
    @apply flex items-center;

    & > svg {
      @apply w-8 h-8 fill-chalk-1 mr-8 shrink-0;
    }

    & > div {
      @apply lg:w-full flex flex-col lg:flex-row lg:items-center;
    }

    span {
      @apply text-chalk-1;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.125, 0.6, 0.15, 0.94);

      &:nth-of-type(1) {
        text-align: left;
        flex-grow: 1;
        letter-spacing: 0.25em;
        transition-property: letter-spacing;
        @apply font-sans;
        font-size: 0.9rem;
      }
      &:nth-of-type(2) {
        flex-shrink: 0;
        letter-spacing: 0em;
        transition-property: letter-spacing margin-right;
        @apply font-mono italic;
        font-size: 0.8rem;
        flex-grow: 1;
        @apply lg:text-right;
      }
    }
    &:hover {
      span {
        &:nth-of-type(1) {
          letter-spacing: 0;
          @apply tracking-[0];
        }
        &:nth-of-type(2) {
          @apply tracking-[0.1em] lg:m-[-0.1em];
        }
      }
    }
  }

  @keyframes animation-h-0 {
    from {
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animation-h-1 {
    from {
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animation-v-0 {
    from {
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes animation-v-1 {
    from {
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .wallpaper {
    @apply select-none;

    & > .sampling {
      overflow: hidden;
      transform-origin: center;
      & > img {
        animation-fill-mode: both;
        animation-play-state: paused;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 0;
        will-change: transform opacity;
      }
      &.animation-h-0 > img {
        animation-name: animation-h-0;
      }
      &.animation-h-1 > img {
        animation-name: animation-h-1;
      }
      &.animation-v-0 > img {
        animation-name: animation-v-0;
      }
      &.animation-v-1 > img {
        animation-name: animation-v-1;
      }
    }
  }
</style>
