---
import NormalLayout from "~/layouts/NormalLayout.astro";

import AboutMe from "~/components/Aboutme/Aboutme.svelte";
import Quote from "~/components/Quote/Quote.svelte";

import WorkOtomadbAPI from "~/components/Works/otomadb-api/article.astro";
import WorkOtomadbWeb from "~/components/Works/otomadb-web/article.astro";
import WorkSnO2WMaNNet from "~/components/Works/sno2wman-net/article.astro";
import WorkSnO2WMaNInfrastructure from "~/components/Works/sno2wman-infrastructure/article.astro";
import WorkOtomadbK8sManifests from "~/components/Works/otomadb-k8s-manifests/article.astro";
import WorkRustPropLogic from "~/components/Works/rust-proplogic-toylang/article.astro";
import WorkDeno2nix from "~/components/Works/deno2nix/article.astro";
import WorkCorepackNix from "~/components/Works/corepack-nix/article.astro";
import WorkSatyxin from "~/components/Works/satyxin/article.astro";
import WorkAllYourNicovideosInScrapbox from "~/components/Works/all-your-nicovideos-in-scrapbox/article.astro";
---

<style lang="scss">
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    max-width: 1280px;
    margin: auto;
    & > h1 {
      font-size: 2.5rem;
      font-family: "Silkscreen", sans-serif;
      text-align: center;
    }
    & > .quote {
      margin-block-start: 0.5rem;
    }
  }

  section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 0;
    & > hgroup {
      display: flex;
      flex-direction: column;
      border-inline-start: 0.5rem solid var(--weak-text-color);
      padding-inline-start: 0.5rem;
      padding-block: 0.25rem;
      margin-block-end: 0.75rem;
      & > h2 {
        font-size: 1.25rem;
        font-weight: 700;
      }
      & > p {
        font-size: 0.75rem;
        color: var(--weak-text-color);
      }
    }
  }

  #works {
    container-type: inline-size;
    & > .list {
      display: grid;
      column-gap: 0.5rem;
      row-gap: 0.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  @media (min-width: 700px) {
    #works > .list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 960px) {
    #works {
      & > .list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }

  @media (min-width: 1280px) {
    header {
      flex-direction: row;
      & > .quote {
        margin-block-start: 0.5rem;
        margin-inline-start: 1rem;
      }
    }
    section > hgroup {
      flex-direction: row;
      align-items: center;
      & > p {
        margin-inline-start: 0.5rem;
      }
    }

    #works > .list {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
</style>

<NormalLayout>
  <header>
    <h1>
      sno<sub>2</sub>wman.net
    </h1>
    <div class="quote">
      <Quote />
    </div>
  </header>

  <section id="aboutme">
    <hgroup>
      <h2>自己紹介</h2>
      <p>
        <a href="https://nico.ms/sm23507309?from=43">怪しい奴め お前は誰だ</a>
      </p>
    </hgroup>
    <AboutMe />
  </section>

  <section id="works">
    <hgroup>
      <h2>制作物</h2>
      <p>
        <a href="https://www.youtube.com/watch?v=qwJaQN1dbVk">
          つくりましょう つくりましょう さてさて何ができるかな
        </a>
      </p>
    </hgroup>
    <div class="list">
      <WorkSnO2WMaNNet id="work-sno2wman-net" />
      <WorkSnO2WMaNInfrastructure id="work-sno2wman-infrastructure" />
      <WorkOtomadbWeb id="work-otomadb-web" />
      <WorkOtomadbAPI id="work-otomadb-api" />
      <WorkOtomadbK8sManifests id="work-otomadb-k8s-manifest" />
      <WorkRustPropLogic id="work-rust-proplogic-toylang" />
      <WorkDeno2nix id="work-deno2nix" />
      <WorkCorepackNix id="work-corepack-nix" />
      <WorkSatyxin id="work-satyxin" />
      <WorkAllYourNicovideosInScrapbox
        id="work-all-your-nicovideos-in-scrapbox"
      />
    </div>
  </section>

  <section>
    <h2></h2>
  </section>
</NormalLayout>
