---
import Article from "~/components/Article.astro";
import NormalLayout from "~/layouts/NormalLayout.astro";
---

<NormalLayout title="Links" description="Links">
  <Article id="social">
    <hgroup>
      <h2>ソーシャル</h2>
      <p>
        <a href="https://www.mext.go.jp/a_menu/shotou/new-cs/1384661.htm">
          改訂により2022年度から高等学校の学習指導要領から『現代社会』は消滅しました．
        </a>
      </p>
    </hgroup>

    <p>
      追加や削除は<a href="#contacts">連絡先</a>または<a
        href="https://github.com/SnO2WMaN/sno2wman.net/issues">Issue</a
      >より連絡してください．
    </p>

    <dl>
      <dt>
        <span>haxibami</span>
        <a class="url" href="https://haxibami.net">haxibami.net</a>
      </dt>

      <dt>
        <span>一階堂洋</span>
        <a href="https://not-miso-inside.netlify.app">みそは入ってませんけど</a>
      </dt>
      <dd>非常に混乱した文体．</dd>

      <dt>
        <span>みかぶる</span>
        <a href="https://mikanixonable.github.io">人造日本人</a>
      </dt>

      <dt>
        <span>りんすき</span>
        <a href="https://rinsuki.net">rinsuki.net</a>
      </dt>

      <dt>
        <span>uynet</span>
        <a href="https://uynet.work">ゆいネット</a>
      </dt>

      <dt>
        <span>ふぁぼん</span>
        <a href="https://www.fabon.info">ふぁぼんのホームページ</a>
      </dt>

      <dt>
        <span>Aumy</span>
        <a class="url" href="https://fuku.day/">fuku.day</a>
      </dt>

      <dt>
        <span>Xe Iaso</span>
        <a href="https://xeiaso.net">Xe</a>
      </dt>
      <dd>Nixや様々なWeb技術、面白い試みなど．</dd>

      <dt>
        <span>gfngfn</span>
        <a href="https://gfngfn.github.io/ja">gfnweb</a>
      </dt>
      <dd>組版システムSATySFiの開発者．</dd>

      <dt>
        <span>Ryota Kameoka</span>
        <a href="https://ryota-ka.me">ryota-ka.me</a>
      </dt>
      <dd>ブログにNixなどの日本語の記事がある．</dd>

      <dt>
        <span>Sigmy</span>
        <a href="https://shigu.jp/">shigu.jp</a>
      </dt>

      <dt>
        <span>バイブ</span>
        <a href="https://dekameshi.com">デカメシドットコム</a>
      </dt>

      <dt>
        <span>okkaradon</span>
        <a href="https://okkaradon.com">okkaradon.com</a>
      </dt>
    </dl>
  </Article>
</NormalLayout>
