---
import clsx from "clsx";
---

<style lang="scss">
  footer {
    width: 100%;
    min-height: 160px;
    display: flex;
    align-items: center;
    background-color: #374151;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      max-width: 1280px;
      margin: auto;

      & > p {
        font-size: 0.95rem;
      }

      & > img {
        margin-top: 12px;
        height: 80px;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    footer {
      background-color: #f3f4f6;
    }
  }
</style>

<footer>
  <div>
    <p>
      <time>2023</time>
      <span>SnO<sub>2</sub>WMaN</span>
      <span>sno2wman.net</span>
    </p>
    <img
      src={import.meta.env.DEV
        ? "https://count.getloli.com/get/@sno2wman.net-dev?theme=rule34"
        : "https://count.getloli.com/get/@sno2wman.net?theme=rule34"}
    />
  </div>
</footer>
