---
import Template from "../template.astro";
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }
</style>

<Template
  id="work-sno2wman-net"
  title="sno2wman.net"
  href="https://github.com/sno2wman/sno2wman.net"
  keywords={["Astro", "Svelte", "Cloudflare Pages"]}
>
  <p>このサイト．</p>
</Template>
