---
import Template from "../template.astro";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }

  @media (min-width: 1280px) {
    p {
      font-size: 0.8rem;
    }
  }
</style>

<Template
  id={id}
  title="deno2nix"
  href="https://github.com/SnO2WMaN/deno2nix"
  keywords={["Deno", "Nix"]}
>
  <p>Denoで書かれたプログラムをNixでうまく取り扱うためのユーティリティ．</p>
</Template>
