---
import Template from "../template.astro";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }

  @media (min-width: 1280px) {
    p {
      font-size: 0.8rem;
    }
  }
</style>

<Template
  id={id}
  title="Otomadb k8s Manifests"
  href="https://github.com/otomad-database/k8s-manifests"
  keywords={["Kubernetes", "ArgoCD"]}
>
  <p>
    <a href="http://otomadb.com/">Otomadb</a>のk8sマニフェスト．
    実際にこのマニフェストが自宅のk8sクラスタにデプロイされている．
  </p>
</Template>
