---
// ja
import "@fontsource/biz-udpmincho/400.css";
import "@fontsource/biz-udpmincho/700.css";
import "@fontsource/shippori-antique-b1";
import "@fontsource-variable/jetbrains-mono";

const { title = null, description = "SnO2WMaN, sno2wman.net" } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<meta name="og:type" content="website" />
<meta name="og:title" content={title} />
<meta name="og:site_name" content="SnO2WMaN.net" />
<meta name="og:type" content="website" />
<meta name="og:url" content="https://sno2wman.net" />

<meta name="twitter:title" content="SnO2WMaN.net" />
<meta name="twitter:url" content="https://sno2wman.net" />
<meta name="twitter:site" content="@SnO2WMaN" />
<title>{title || "SnO2WMaN.net"}</title>
<link
  rel="icon"
  href="https://scrapbox.io/api/pages/sno2wman/sno2wman/icon#.png"
/>

<body  >
  <main class="bg-slate-100">
    <div class="min-h-svh py-12 px-16 flex flex-col container max-w-screen-lg mx-auto">
      <div class="flex-grow">
        {title && <h1 class="font-sans text-2xl text-slate-900">{title}</h1>}
        <slot />
      </div>
      <footer class="mt-16 flex flex-col md:flex-row items-center px-8 gap-y-4 border-t py-8 border-slate-900 border-dotted">
        <div class="flex-grow">
          <p class="text-sm text-slate-700">
            <date>2024</date>
            <a href="/">SnO2WMaN</a>
          </p>
        </div>
        <div class="h-24 w-96 flex-shrink-0">
          <img
            class="h-full mx-auto"
            src={import.meta.env.DEV
              ? "https://count.getloli.com/@sno2wman.net-dev?name=sno2wman.net-dev&theme=green&padding=8&offset=0&align=bottom&pixelated=1&darkmode=0"
              : "https://count.getloli.com/@sno2wman.net?name=sno2wman.net&theme=green&padding=8&offset=0&align=bottom&pixelated=1&darkmode=0"}
          />
        </div>
      </footer>
    </div>
  </main>
</body>
