---
import "the-new-css-reset";
import Quote from "~/components/Quote/Quote.svelte";

const { title = null, description = "SnO2WMaN, sno2wman.net" } = Astro.props;
---

<style is:global>
  :root {
    font-family: "Shippori Mincho B1", serif;
    font-size: 16px;
    color: var(--text-color);

    --theme-hue: 199;

    --body-background-color: hsl(var(--theme-hue), 8%, 15%);

    --nav-background-color: hsl(var(--theme-hue), 12%, 12%);
    --nav-text-color-main: hsl(var(--theme-hue), 19%, 81%);
    --nav-text-color-sub: hsl(var(--theme-hue), 9%, 61%);
    --nav-text-color-hover: var(--main-highlight-color);

    --main-highlight-color: hsl(var(--theme-hue), 63%, 76%);
    --main-text-color-heading: hsl(var(--theme-hue), 15%, 87%);
    --main-text-color-main: hsl(var(--theme-hue), 24%, 81%);
    --main-text-color-sub: hsl(var(--theme-hue), 9%, 61%);
    --main-splitline-color: hsl(var(--theme-hue), 9%, 32%);
  }

  sub {
    vertical-align: sub;
  }

  rt {
    font-size: 0.65em;
    margin-bottom: -0.6em;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --theme-hue: 224;
      --body-background-color: hsl(var(--theme-hue), 8%, 96%);

      --nav-background-color: hsl(var(--theme-hue), 25.9%, 90%);
      --nav-text-color-main: hsl(var(--theme-hue), 19%, 21%);
      --nav-text-color-sub: hsl(var(--theme-hue), 21%, 25%);
      --nav-text-color-hover: var(--main-highlight-color);

      --main-highlight-color: hsl(var(--theme-hue), 77%, 45%);
      --main-text-color-heading: hsl(var(--theme-hue), 8%, 17%);
      --main-text-color-main: hsl(var(--theme-hue), 21%, 32%);
      --main-text-color-sub: hsl(var(--theme-hue), 21%, 25%);
      --main-splitline-color: hsl(var(--theme-hue), 15%, 65%);
    }
  }
</style>

<style>
  body {
    background-color: var(--body-background-color);

    overflow-y: hidden;

    display: flex;
    flex-direction: row;
  }

  nav {
    background-color: var(--nav-background-color);
    width: 360px;
    height: 100vh;
    padding: 24px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 24px var(--nav-background-color);

    & > .header {
      & > a {
        font-size: 1.8rem;
        font-family: "Shippori Mincho B1", serif;
        text-align: center;
        word-break: break-all;
        color: var(--nav-text-color-main);
      }
    }

    & > .links {
      width: 100%;
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 8px;

      padding: 0 32px;
      margin: 12px 0;
      color: var(--nav-text-color-main);

      a:hover {
        color: var(--nav-text-color-hover);
        text-decoration: underline;
      }

      & > a {
        font-size: 1.25rem;
      }

      & > .sub {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 4px;
        & > a {
          font-size: 1rem;
        }
      }
    }

    & > .counter {
      width: 240px;
    }

    & > .copyright {
      margin-top: 12px;
      color: var(--nav-text-color-sub);
      font-size: 0.75rem;
    }
  }

  main {
    height: 100vh;
    flex-grow: 1;

    padding: 0 32px;

    overflow-y: scroll;

    & > .wrapper {
      padding-top: 32px;
      min-height: calc(100vh - 160px);
      max-width: 860px;
      margin: 0 auto;

      & > h1 {
        text-align: center;
        text-decoration: solid underline;
        text-decoration-color: var(--main-highlight-color);
        font-size: 2.5rem;
        font-weight: 700;
        padding: 4px 0 4px 8px;
        color: var(--main-text-color-heading);
        letter-spacing: 2px;
        margin-bottom: 16px;
      }
    }

    & > footer {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 720px;

      margin: 32px auto 0 auto;
      min-height: 128px;
      padding: 16px 0;
      border-block-start: 1px solid var(--main-splitline-color);
    }
  }

  @media (max-width: 1280px) {
    body {
      flex-direction: column;
      overflow-y: scroll;
    }

    nav {
      position: sticky;
      top: 0;
      z-index: 9999;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 64px;
      padding: 8px 32px;
      & > .header {
        & > a {
          font-size: 1rem;
          word-break: keep-all;
        }
      }
      & > .links {
        flex-direction: row;
        column-gap: 12px;
        & > a {
          font-size: 1rem;
        }
        & > .sub {
          display: none;
        }
      }
      & > .counter {
        width: auto;
        height: auto;
      }
      & > .copyright {
        display: none;
      }
    }

    main {
      height: auto;
      overflow-y: auto;
    }
  }
</style>

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<meta name="og:type" content="website" />
<meta name="og:title" content={title} />
<meta name="og:site_name" content="SnO2WMaN.net" />
<meta name="og:type" content="website" />
<meta name="og:url" content="https://sno2wman.net" />

<meta name="twitter:title" content="SnO2WMaN.net" />
<meta name="twitter:url" content="https://sno2wman.net" />
<meta name="twitter:site" content="@SnO2WMaN" />
<title>{title || "SnO2WMaN.net"}</title>
<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;700&display=swap"
  rel="stylesheet"
/>

<body>
  <nav>
    <div class="header">
      <a href="/">
        SnO<sub>2</sub>WMaN.net
      </a>
    </div>
    <div class="links">
      <a href="/aboutme">AboutMe</a>
      <a href="/projects">Projects</a>
      <div class="sub">
        <a href="/projects#otomadb">OtoMADB</a>
        <a href="/projects#lean4-modal-logic">Lean4 Modal Logic</a>
      </div>
      <a href="/links">Links</a>
    </div>
    <img
      class="counter"
      src={import.meta.env.DEV
        ? "https://count.getloli.com/get/@sno2wman.net-dev?theme=rule34"
        : "https://count.getloli.com/get/@sno2wman.net?theme=rule34"}
    />
    <p class="copyright">
      <time>2023</time> - <span>SnO<sub>2</sub>WMaN</span>
    </p>
  </nav>
  <main>
    <div class="wrapper">
      <h1>{title}</h1>
      <slot />
    </div>
    <footer>
      <Quote />
    </footer>
  </main>
</body>
