---
import clsx from "clsx";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";

const {
  title = "sno2wman.net",
  description = "SnO2WMaN, sno2wman.net"
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="og:type" content="website">
    <meta name="og:title" content={title}>
    <meta name="og:site_name" content="sno2wman.net">
    <meta name="og:type" content="website">
    <meta name="og:url" content="https://sno2wman.net">

    <meta name="twitter:title" content="sno2wman.net">
    <meta name="twitter:url" content="https://sno2wman.net">
    <meta name="twitter:site" content="@SnO2WMaN">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class={clsx(
      ["min-h-screen"],
      ["flex", "flex-col"],
      ["bg-slate-200", "dark:bg-slate-800"]
    )}
  >
    <main
      class={clsx(
        ["flex-grow"],
        ["mx-auto"],
        ["px-4"],
        ["py-8", "md:py-12"],
      )}
    >
      <div class={clsx(
        ["container"], ["mx-auto"], ["max-w-screen-lg"])}>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
