---
// ja
import "@fontsource/biz-udpmincho/400.css";
import "@fontsource/biz-udpmincho/700.css";
import "@fontsource/shippori-antique-b1";

// en
import "@fontsource-variable/crimson-pro";
import "@fontsource-variable/crimson-pro/wght-italic.css";
import "@fontsource-variable/red-hat-display";

const { title = null, description = "SnO2WMaN, sno2wman.net" } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<meta name="og:type" content="website" />
<meta name="og:title" content={title} />
<meta name="og:site_name" content="SnO2WMaN.net" />
<meta name="og:type" content="website" />
<meta name="og:url" content="https://sno2wman.net" />

<meta name="twitter:title" content="SnO2WMaN.net" />
<meta name="twitter:url" content="https://sno2wman.net" />
<meta name="twitter:site" content="@SnO2WMaN" />
<title>{title || "SnO2WMaN.net"}</title>
<link
  rel="icon"
  href="https://scrapbox.io/api/pages/sno2wman/sno2wman/icon#.png"
/>

<body  >
  <main class="min-h-svh py-12 px-24 bg-slate-100">
    <div class="container max-w-screen-lg mx-auto">
      {title && <h1 class="font-sans text-2xl text-slate-900">{title}</h1>}
      <slot />
      <footer class="mt-24 flex items-center px-8 border-t py-8 border-slate-900 border-dotted">
        <div class="flex-grow">
          <p class="text-sm text-slate-700">2024 SnO2WMaN</p>
        </div>
        <div class="h-24 w-96 flex-shrink-0">
          <img
            class="h-full mx-auto"
            src={import.meta.env.DEV
              ? "https://count.getloli.com/@sno2wman.net-dev?name=sno2wman.net-dev&theme=green&padding=8&offset=0&align=bottom&pixelated=1&darkmode=0"
              : "https://count.getloli.com/@sno2wman.net?name=sno2wman.net&theme=green&padding=8&offset=0&align=bottom&pixelated=1&darkmode=0"}
          />
        </div>
      </footer>
    </div>
  </main>
</body>
