---
import Template from "../../Works/template.astro";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<style lang="scss">
  p {
    font-size: 0.9rem;
  }

  dl {
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
    & > dt {
      &:not(:first-of-type) {
        margin-top: 0.5rem;
      }
      font-size: 0.8rem;
      font-weight: 700;
    }
    & > dd {
      padding-inline-start: 0.5rem;
      padding-block-start: 0.125rem;
      font-size: 0.75rem;
    }
  }

  @media (min-width: 300px) {
    p {
      font-size: 0.8rem;
    }
  }
</style>

<Template id={id} title="Otomadb" href="https://otomadb.com">
  <p>
    ユーザからデータを募集したりすることによって，音MADの体系的なデータベースを作る．
    技術的には，以下の目的を持って開発している．
  </p>
  <dl>
    <dt>タグシステムの改善</dt>
    <dd>
      従来のタグシステムの不満点（タグの親子関係やエイリアス）を改善したタグシステムを作成する．
    </dd>
    <dt>推薦システムの構築</dt>
    <dd>
      タグシステムやユーザのいいね情報から，好きそうな音MADを推薦するシステムを作成する．
    </dd>
  </dl>
</Template>
